fastapi
uvicorn
pandas
groq
python-dotenvfastapi
pandas
uvicorn
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pypdf
sentence-transformers
faiss-cpu
numpy
transformers
torch
python-docx
python-pptx
openpyxl
groq